.section_intro_title{
    
    padding: 65px 0;
    margin-top: 45px;
    margin-bottom: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
.lstore_title{
    background-image: url('https://template.hasthemes.com/lukani/lukani/assets/img/bg/bkg_top_vogue2.png');
}
.section_intro_title p{
    font-size: 14px;
    line-height: 20px;
    padding: 0 299px;
    margin-top: 32px
}

.section_intro_title h2{
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    position: relative;
    font-family: "Lora", serif;
    padding-bottom: 22px;
}

.section_intro_title h2::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background: #222222;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

.single_shipping{
    display: flex;
    align-items: center;
    border-right: 1px solid #ebebeb;
}
.shipping_icon{
    margin-right: 18px;
}
.shipping_content{

}
.shipping_icon img{
    max-width: 100%;
    height: auto;
}

.single_shipping.col_3 {
    border-right: 0;
}

.shipping_content h3 {
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    font-family: "Lora", serif;
    font-weight: 700;
    margin-bottom: 7px;
}

@media only screen and (max-width: 767px){
    .shipping_icon {
        margin-right: 15px;
    }
    .shipping_icon img {
        max-width: 42px;
    }
    .single_shipping {
        margin-bottom: 23px;
        border-right: 0;
    }
    .lstore_title p {
        padding: 0;
        margin-top: 20px;
    }
}